.task-container
    button(title="#{t('done button')}").toggle-state.button= t('done button')
    .todo-field
        input(value="#{model.description}", tabindex="#{tabindex}")
.todo-completionDate
    p #{t('completed headline')} #{competionDate}